<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__artwork_folder_size</key>
	<string>47M</string>
	<key>__country_code</key>
	<string>US</string>
	<key>__display_name</key>
	<string>Gianmarco Folchi</string>
	<key>__last_check_update_time</key>
	<string>1677160645</string>
	<key>__oauth_access_token</key>
	<string>BQBK7vn112L_gtDoyAfM1olCNhmTAh24gD6oALbUc7lvhLLO5VVIErAtvsHWO5m2QJ8AqtNlJJ27ljkFHVBIJtdEMgJPz1zZaMPQrumeXDOr9X9CgQ3v2CFKfcTyWgAVHaVC7SGM1qTyau1AhX7bkVv9sZZPYwTwwLy1MXr763xGR906V4gp5AY6fTA1_5hpX7Qw5IL8UKgF6h3BU0l9x2NDZ7ZFGODe1nml8lXnd4bQwIefJGT132sWefhgc95z2PMOFn9CLn3S2Z_XjOJYP20ZLCDQ7Dd_mIg6iThsVPG-o1_dnIRGFBnI2h2ByQ</string>
	<key>__oauth_client_id</key>
	<string>aaf97d1bd9724492b70e9c15a1ae1cc8</string>
	<key>__oauth_client_secret</key>
	<string>bd661e5d0bd54479abc30f30914faa9d</string>
	<key>__oauth_refresh_token</key>
	<string>AQBO0E3gNjnkKmwMt97JQB-gxrI-p8uSORrhr_zvmgMAXNksiAZFX_h1asDsusxto8X84ZWllnMn3OKB90we18TteEJH5KrUulZrIYyDiyoJL0z5gxxH2ZGFR1o5vhBr_hU</string>
	<key>__userid</key>
	<string>gianmarco.folchi</string>
	<key>__workflow_version</key>
	<string>12.6</string>
</dict>
</plist>
